.works {
  margin: 20px auto;
  max-width: 1076px;
}

.works__heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 58.8px;
}
.works__content {
  text-align: start;
  padding-top: 20px;
  @media (width>500px) {
    padding-top: 100px;
  }
}
.works__section {
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 0 10px 20px;
  @media (width>920px) {
    gap: 6%;
  }
  @media (width>500px) {
    padding: 0 10px 100px 10px;
  }
}
.works__block {
  width: 100%;
}
.works__block-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36.6px;
  width: 470px;
  margin: 0;
}
.works__block-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  padding-top: 30px;
  width: 100%;
  margin: 0;
  @media (width>920px) {
    width: 470px;
  }
}
.works__block-img {
  background-size: cover;
  display: none;
  @media (width>920px) {
    display: block;
  }
}
.works__block-img img {
  width: 100%;
  height: 70%;
}
