.example {
  margin: 20px 0;
}

.example__images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
  row-gap: 10px;
}
.example__images-list {
  max-width: 32%;
  height: 33%;
}
.example__image {
  width: 100%;
  height: 100%;
  border: solid #5c5cff 2px;
}
