.contacts {
  margin-bottom: 10px;
}
.contacts__date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.contacts__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts__image {
  width: 23%;
  height: 20%;
}
