.news {
  margin-bottom: 20px;
}
.contacts__date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.news__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news__image {
  width: 33%;
  height: 33%;
}
.news__block {
  position: relative;
}
.news__text {
  font-size: 30px;
  position: absolute;
  left: -220px;
  bottom: 0;
}
