.equipment {
  margin: 20px 0;
}

.equipment__images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
  row-gap: 10px;
}
.equipment__image {
  max-width: 47%;
  height: 33%;
  border: solid #5c5cff 2px;
  @media (width>500px) {
    max-width: 32%;
  }
}
